:root {
    --primary-color: #1D334A;
    --secondary-color: #3050A0;
    --terciary-color: #30C3D7;
    --white-color: #F8F8F8;
    --black-color: #000000;
}

body {
    max-width: 100%;
}

h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-family: 'Fjalla One', sans-serif;
    font-size: 51px;
}

/* Topo da página*/

.hero {
    margin: 0;
    display: flex;
    background-color: var(--primary-color);
    max-width: 100%;
    max-height: 70%;
}

.hero #background {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero #background img {
    max-width: 100%;
    max-height: 100%;
}

.hero #background #backgroundGrad {
   position: absolute;
   max-height: 100%;
}

.hero #background #backgroudCod {
    left: 1px;
    top: 86px;
    mix-blend-mode: overlay;
    opacity: 100%;
    backdrop-filter: blur(10px);
    position: relative;
}

.hero h1 {
    position: absolute;
    color: var(--white-color);
    font-family: 'Fjalla One', sans-serif;
    align-self: center;
    margin-left: 10%;
    margin-bottom: 24%;
    font-size: 51px;
}

.hero p {
    position: absolute;
    align-self: center;
    margin-top: 2.5%;
    margin-left: 10%;
    font-size: 29px;
    color: var(--white-color);
    font-family: 'Barlow', sans-serif;
}

.hero a {
    position: absolute;
    background-color: var(--terciary-color);
    width: 370px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    margin-bottom: 7%;
    border-radius: 10px;
    align-items: center;    
    text-decoration: none;
}

.hero a img {
    margin-left: 8%;
}

.hero a h4 {
    color: var(--white-color);
    font-size: 33px;
    font-family: 'Fjalla One', sans-serif;
    margin-right: 8%;
}

/* Serviços Prestados*/

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



/* Background cinza azulado*/
.servico-esquerda {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.3%;
}

.servico-esquerda img {
    margin-left: 9%;
}

.servico-esquerda .servicos-descricao {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 14.8%;
}

.servico-esquerda .servicos-descricao h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 31px;
    text-decoration: underline;
    text-align: center;
}

.servico-esquerda .servicos-descricao p {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Background azul*/
.servico-direita {
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.3%;
}

.servico-direita .servicos-descricao {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.servico-direita .servicos-descricao h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 31px;
    text-decoration: underline;
    text-align: center;
}

.servico-direita .servicos-descricao p {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    text-align: center;
} 

/* Meus Processos*/

.processos-cards-group {
    display: flex;
    flex-direction: row;
}

.processo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 385.06px;
}


.processo-card  .processo-card-image img {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo {
    position: relative;
    width: 52.32px;
    height: 49.33px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin: 0.5% 2% 4% 0px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.processo-card .processos-card-description {
    margin-top: 12%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.processo-card .processos-card-description h3 {
    font-family: 'Fjalla One', sans-serif;
    color: var(--primary-color);
}

.processo-card .processos-card-description p {
    font-family: 'Barlow', sans-serif;
    margin-bottom: 20%;
}

/* Sobre*/

.sobre {
    margin-top: 7%;
    margin-bottom: 7%;
}

#sobre-title {
    justify-content: left;
    margin-left: 12%;
}

.sobre p {
    font-size: 32px;
    font-family: 'Barlow', sans-serif;
    text-align: justify;
    margin-left: 3%;
}

.sobre #citacao {
    font-style: italic;
    color: var(--primary-color);
    text-align: justify;
    width: 581;
}

/* contato*/

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato #background {
    background-color: var(--primary-color);
    position: absolute;
    width: 100%;
}

.contato h2 {
    position: relative;
    color: var(--white-color);
}

.contato-projetos {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 23%;
    justify-content: space-between;
}



